@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Satoshi-regular;
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-black;
  src: url("/fonts/Satoshi-Black.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-bold;
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-light;
  src: url("/fonts/Satoshi-Light.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-italic;
  src: url("/fonts/Satoshi-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-medium;
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
}

@layer base {
  /* display */
  display-generic {
    @apply font-extrabold font-satoshi;
  }

  /* title */
  title-bold {
    @apply font-bold font-satoshi;
  }

  title-medium {
    @apply font-medium font-satoshi;
  }

  /* text */
  text-generic {
    @apply font-extrabold font-satoshi;
  }

  /* label */
  label-generic {
    @apply font-extrabold font-satoshi;
  }

  /* heading */
  heading-generic {
    @apply font-extrabold font-satoshi;
  }

  /* button */
  default-button {
    @apply bg-red-500 inline-flex items-center justify-center gap-gap-6 py-3xs px-xs md:py-2xs md:px-m size-10  rounded-xl;
  }

  html,
  body {
    @apply h-full w-full m-0 p-0 overflow-auto;
  }
}
