@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Satoshi-regular;
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-black;
  src: url("/fonts/Satoshi-Black.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-bold;
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-light;
  src: url("/fonts/Satoshi-Light.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-italic;
  src: url("/fonts/Satoshi-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Satoshi-medium;
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
}

@layer base {
  h1 {
    @apply text-h1 font-satoshiBold text-foreground;
  }

  h2 {
    @apply text-h2 font-satoshiBold text-foreground;
  }

  h3 {
    @apply text-h3 font-satoshiMedium text-foreground;
  }

  h4 {
    @apply text-h4 font-satoshi text-foreground;
  }

  h5 {
    @apply text-h5 font-satoshi text-foreground;
  }

  h6 {
    @apply text-h6 font-satoshi text-foreground;
  }

  p {
    @apply text-body1 text-foreground;
  }
}
